{%extends 'layout.html'%}
{%block content%}

<h3>Formulario Modificar Pedido:</h3>
{% from "_macros.html" import render_field%}
<div class="container">
    <form name="registro" action="/modificarPedido" id="modificarPedido" method="post">
        <div class="row control-group">
            <div class="form-group col-xs-12 float-label-form-group controls">
                {{render_field(form.id,class="form-control")}}
            </div>
        </div>
        <div class="row control-group">
            <div class="form-group col-xs-12 float-label-form-group controls">
                {{render_field(form.nombre,class="form-control")}}
            </div>
        </div>
        <div class="row control-group">
            <div class="form-group col-xs-12 float-label-form-group controls">
                {{render_field(form.direccion,class="form-control")}}
            </div>
        </div>
        <div class="row control-group">
            <div class="form-group col-xs-12 float-label-form-group controls">
                {{render_field(form.telefono,class="form-control")}}
            </div>
        </div>
        <div class="row control-group">
            <div class="form-group col-xs-12 float-label-form-group controls">
                {{ render_field(form.tamaPizza, class_="", id="tamaPizza") }}
            </div>
        </div>        
        <div class="row control-group">
            <div class="form-group col-xs-12 float-label-form-group controls">
                {{ render_field(form.ingredientesPizza, class_="", id="ingredientesPizza") }}
            </div>
        </div>
        
        <div class="row control-group">
            <div class="form-group col-xs-12 float-label-form-group controls">
                {{render_field(form.numPizzas,class="form-control")}}
            </div>
        </div>
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
        <input type="submit" class="btn btn-danger" id="modificar" name="modificar" value="Modificar"/>
        <a href="pizzeria" class="btn btn-warning">Cancelar</a>
    </form>
</div>

{%endblock%}